/* CSS Document */
body{padding:0px; margin:0px; background-image:url(../admin/images/pagebg.jpg); background-repeat:repeat-y; background-color:#e6e6e6;}
td,tr{font-family:arial; font-size:12px; color:#272213;}
.bold{font-weight:bold;}
.paleboldtxt{color:#F0EBB9; font-weight:bold;}
.paletxt{color:#F0EBB9;}
p,form, h1,h2,h3,h4,h5,h6{padding:0px; margin:0px;}
h1{padding:10px 0px 10px 0px; font-family:"Trebuchet MS"; font-size:24px; color:#333333;}
.tableborder{border:1px solid #000000;}
.txtbox{ background-color:#FFFFFF; border:0px; padding:2px; font-family:verdana; font-size:11px; color:#333333; height:22px;}
.txtarea{ background-color:#FFFFFF; border:0px; padding:2px; font-family:verdana; font-size:11px; color:#333333;}
.btn{color:#FFFFFF; font-family:"Trebuchet MS"; font-size:11px; font-weight:bold; height:22px; padding:4px; border:1px solid #333333; cursor:pointer; background-color:#000000;}
.whitebtn{background-color:#FFFFFF; border:0px; padding:2px; font-family:verdana; font-size:11px; color:#333333; height:22px; cursor:pointer;}
.footertxt{color:#CA8E8E; font-size:10px;}
.smalltxt{font-size:11px; font-style:italic;}

a:link{font-family:arial; font-size:12px; font-weight:bold; color:#1C1744; text-decoration:none;}
a:active{font-family:arial; font-size:12px; font-weight:bold; color:#1C1744; text-decoration:none;}
a:visited{font-family:arial; font-size:12px; font-weight:bold; color:#1C1744; text-decoration:none;}
a:hover{font-family:arial; font-size:12px; font-weight:bold; color:#1C1744; text-decoration:underline;}

a.leftlink:link{font-family:arial; font-size:11px; font-weight:bold; color:#CCCCCC; text-decoration:none;}
a.leftlink:active{font-family:arial; font-size:11px; font-weight:bold; color:#CCCCCC; text-decoration:none;}
a.leftlink:visited{font-family:arial; font-size:11px; font-weight:bold; color:#CCCCCC; text-decoration:none;}
a.leftlink:hover{font-family:arial; font-size:11px; font-weight:bold; color:#ffffff; text-decoration:none;}

.leftlink_active{font-family:arial; font-size:11px; font-weight:bold; color:#ffffff; text-decoration:none;}
.leftlink_active1{font-family:arial; font-size:14px; font-weight:bold; color:#ffffff; text-decoration:none;}




a.yellowlink:active{color:#FFDD4B; font-family:arial; font-size:12px; font-weight:bold; text-decoration:none;}
a.yellowlink:visited{color:#FFDD4B; font-family:arial; font-size:12px; font-weight:bold; text-decoration:none;}
a.yellowlink:hover{color:#F6B300; font-family:arial; font-size:12px; font-weight:bold; text-decoration:none;}
a.yellowlink:link{color:#FFDD4B; font-family:arial; font-size:12px; font-weight:bold; text-decoration:none;}
