* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {font-family: 'Lato', sans-serif;
	background: repeat-x top #fff;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body, select, input, div {
	font-family: 'Lato', sans-serif;
	color: #777;
	font-size: 14px;
	line-height: 18px;
}
img {
	border: none;
}
p{
	line-height: 24px;font-size: 14px;
}
hr.space {
	margin-top: 20px;
	margin-bottom: 20px;
}
.orange{ color:#ffa800;}
.border{ border-bottom:1px solid #eee; margin-bottom:20px;}
.fleft{ float:left;}
.fright{ float:right;}
.box-padding{ margin-bottom:30px;}

.list-group{font-size:16px; }
.topheader{background-color: #252629;}
.topsignup-area{ padding:5px; font-size:13px; color:#F5F5FB;}
.topsignup-area a {
  color: #F5F5FB;
  text-decoration: none;
}

.topsignup-area a:hover {
  color: #636364;
  text-decoration: none;
}

.color p{font-size:15px; color:#333;}

#product{
   line-height: 0;
   
   -webkit-column-count: 3;
   -webkit-column-gap:   0;
   -moz-column-count:    3;
   -moz-column-gap:      2px;
   column-count:         3;
   column-gap:          0;
}


#product .list-group{
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  padding:5px;
  display:inline-block;
}

@media (max-width: 1200px) {
  #product {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #product {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #product {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #product {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.logoarea{ margin-bottom: 20px; }
.logo{ /*width:210px;font-size:60px*/ ; color:#0078ff; /*padding-top: 13px; min-height:57px;*/    float: left; }
.logo a{/*width:210px;font-size:60px;*/  text-decoration:none; color:#0078ff; font-weight: 800;/*padding-left:15px;*/ float:left;padding-top: 13px;/*min-height:57px;*/    float: left; }

.logotext{color: #fce100;font-size:17px;float:left;margin-top:0px; margin-left: 0px;}
.logotext p{color: #fce100;font-size:17px;line-height:none;margin-top: 36px; margin-left: 20px;}	
.logo_text p{color: #fce100;font-size:17px;line-height:none;margin-top: 36px; margin-left: 20px;}
.display{display:none;}
.logotext div{color: #fce100;font-size:17px;float:left;margin-top: 24px;}
		
.postadarea{margin-bottom: 28px;margin-right: -15px;}

.left-area{
	padding:0px;
}

.right-area{
	padding-right:0px;
}
.btn-left{
	margin-left:0px;
}


@media (max-width: 1024px) {
.logorow{ padding:10px 0px 10px 0px;  line-height:28px;}
.logo{  margin-right:36px; }
.postadarea {
    margin-bottom: 28px;
    width: 37%;
}

	.logo_text{
	display:none;
}

}

@media (max-width: 960px) {
	.postadarea .fright{
		float:none;
}

.logotext p{
	margin-left:0px;
}

/*.col-xs-12{
	width:auto;
}*/

.postadarea{
	margin-left:105px;
}

.btn-left{
	margin-left:20px;
	margin-top:8px;
}



}


@media (max-width: 560px) {
.logotext p{
	margin-top:10px;
}
.postadarea{
	margin-left:0px;
	margin-top:-25px;
}


}

@media (max-width:520px) {

.postadarea{
	margin-left:15px;
	margin-top:0px;
}
/*.column-xs-6{
	width:50%;
}
*/
.topsignup-area{
	margin-top:10px;
}

.btn-lg, .btn-group-lg > .btn{
	padding:3px 12px;
}

.btn-left{
	margin-left:55px;
}
}



@media (max-width:600px) {
	
	
.logotext{
	display:block;
}

.logoarea{margin-bottom:0px;}


.postadarea{
	margin-left:0px;
}

/*.column-xs-6{
	width:50%;
}
*/
	.postadarea .fright{
		float:right;
}

.logo_text{

	display:none;
	margin-left:-10px;
	margin-top: -30px;
}

}



@media (max-width:500px) {	
	

}

@media (max-width:390px){
.nav-pills > li + li{
	margin-left:0px;
}

.style{padding:0px;} 
.right-btn li a{
	padding:2px 6px;
	margin-left:10px;
	}

}

@media (max-width:330px){
.nav-pills > li + li{
	margin-left:0px;
}

.right-btn li a{
	padding:4px 4px;
	margin-left:7px;
	}

.btn-left{
	margin-left:34px;
}
}

@media (max-width:770px){
.column-sm-6{
	width:50%;
}

}

@media (max-width: 720px){
	/*.right-area{
		padding:px;
	}*/
}

@media (max-width: 700px) {
.column-sm-6{
	width:100%;
}

}

/*Nav 
.navarea{
	background-image: -webkit-linear-gradient(bottom, #009ace 0%, #137a9c 100%);
	background-image: -ms-linear-gradient(bottom, #912828 0%, #720B0B 100%);
	background-color: #009ace !important;
}
*/

/*Nav */
.navarea{background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #912828),
	color-stop(1, #720B0B)
);
background-image: -o-linear-gradient(bottom, #912828 0%, #720B0B 100%);
background-image: -moz-linear-gradient(bottom, #912828 0%, #720B0B 100%);
background-image: -webkit-linear-gradient(bottom, #912828 0%, #720B0B 100%);
background-image: -ms-linear-gradient(bottom, #912828 0%, #720B0B 100%);
background-image: linear-gradient(to bottom, #912828 0%, #720B0B 100%); 


}




.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
 color: #fff;
 background-image: -webkit-gradient(   linear,   left bottom,   left top,   color-stop(0, #fedd14),   color-stop(1, #fedd14)  );
 background-image: -o-linear-gradient(top, #912828 0%, #720B0B 100%);
 background-image: -moz-linear-gradient(top, #912828 0%, #720B0B 100%);
 background-image: -webkit-linear-gradient(top, #fedd14 0%, #fedd14 100%);
 background-image: -ms-linear-gradient(top, #912828 0%, #720B0B 100%);
 background-image: linear-gradient(to top, #fedd15 0%, #fbb040 100%);
 opacity: 1 !IMPORTANT;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #912828),
	color-stop(1, #720B0B)
);
background-image: -o-linear-gradient(top, #912828 0%, #720B0B 100%);
background-image: -moz-linear-gradient(top, #912828 0%, #720B0B 100%);
background-image: -webkit-linear-gradient(top, #912828 0%, #720B0B 100%);
background-image: -ms-linear-gradient(top, #912828 0%, #720B0B 100%);
background-image: linear-gradient(to top, #912828 0%, #720B0B 100%);
}


.wlt_starrating {
    height: 24px;
    overflow: hidden;
	float: right;
}
/* Post Ad */
.packblock.selected {
    border: 1px solid #E0E0E0;
    border-bottom: 0px;
    background: #FFFFFF;
	position: relative;
}

.packwrap {
    
    padding: 2px 1px;
}
.packblock.selected .price {
    background: #81AF0A;
}
.price {
    /*float: left;*/
    min-height: 50px;
    line-height: 60px;
    margin-right: 10px;
    /*margin-left: 5px;*/
    font-size: 16px;
    text-transform: uppercase;
    background: #B10000;
    padding-right: 10px;
    padding-left: 10px;
    min-width: 60px;
    text-align: center;
    border: 1px solid #fff;
    color: #fff; border-radius: 50px;
}
/***************************************myaccount********************************/
.lessthen{
	margin-left:10px;
	
}
/***************************************myaccount end********************************/

/************************** listing*********************************/

.heading{
	margin-top:-20px;
}


.listing{
	    padding: 5px 5px 5px 5px;
        background: none;
        /*border: 1px solid #CCC;*/
}
.listing a{
	   text-decoration: none;
	   color:#000;
	   }


.content{
    font-size:12px;
	
	
}

.str{
	
	font-size:20px;
	color:#841c1c;
}


.wlt_shortcode_excerpt {
    font-size: 13px;
}


.wlt_shortcode_hits:before {
    font-family: FontAwesome;
    content: "\f012";
    margin-right: 3px;
}

.wlt_shortcodes_timesince:before {
    font-family: FontAwesome;
    content: "\f017";
    margin-right: 2px;
}



.wlt_shortcode_price {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    background-color: #841c1c;
}

.wlt_shortcode_price {
    
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}




.line1 {
    border-bottom: 1px solid #efefef;
    margin: 5px 0px 10px 0px;
}

.spanright{
	margin-right:10px;
}

/************************** listing end*********************************/


/**************************detail*********************************/
.image{
	text-align:center;
}




.wlt_shortcode_price2 {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    background-color: #ffa800;
}

.wlt_shortcode_price2 {
    
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}


.userbg{
	width:100%;
	background-color:#f1f5fc;
	padding:20px;
	margin-top:30px;
	float:left;
}


.rating p{
	font-size:16px;
	padding: 10px 50px;
}

.commentheading h3{
	margin:0px;
}

.comment-btn{
	    width: 130px;
}

.sum{
	font-size:16px;
	font-weight:400;
	margin-left:15px;
	
}

.sendmessage-border{
	    border:1px solid #CCC;
	    padding: 15px;
		margin-bottom: 30px;
	    margin-left:15px;
		    margin-right: 15px;
}

.userimg{

	    margin-bottom: 8px;
	
}

.profiebtn{
	margin-left:180px;
	
}


.editbtn{
	margin-left:32px;
}


.detailsform{
	width:130px;
	
	float:right;
}

.frmborder{
	    border:1px solid #CCC;
	    padding: 15px;
		margin-bottom: 30px;
	     margin-top: 75px;
}


.contentright{
	font-size:13px;
	width:100%;
	
	
}

.contactheading h3{
	
	margin: 0px;
    margin-bottom: 10px;
}



.contentright h3 {
	margin:0px;
}
	
	
.contentrightquestionhead h3{
	
	    margin: 0px;
    margin-bottom: 10px;
}

.contactsocial-icon .fa{
	padding:8px;
	font-size:25px;
}

.hidebtn{
	width:60px;
	font-size:11px;
	text-align:center;
	padding:0px;
	
}

.number{
	font-size:18px;
	line-height:40px;
	
	
}

.toolbox{
	    margin-top: 25px;
}
	


/**************************detail end*********************************/

/**************************************view_profile****************************************/

#middlepart{
	min-height:350px;
}



.profile h2{
	margin:0px;
}

.profilepic{
	width:100%;
	padding:0;
}
	
.formrightside{
	margin-top:48px;
}

.progress {
    
    height: 35px;
    border-radius: 0px;
   	background-color:#6C6;
	line-height: 35px;
	color: #fff;
    line-height: 35px;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.message h2{
	margin-left:15px;
}
 
 .sendmessage1{
	margin-left:100px;
}
 

 
 .sendmessage2{
	 background-color: #ffa800;
	 padding:10px;
	 color: #fff;
	 width:130px;
 }

.sendmessage2 a{
	color:#FFF;
	padding-left:5px;
}

.edit{
	color:#fff;
	width:50px;
	border-radius:10px;
	background-color:#F93;
	float:right;
	text-align:center;
}

 

.frm h2{
	margin-left:20px;
}


.choosephoto{
	padding:10px;
	margin-bottom:20px;
}

/**************************************view_profile end****************************************/

.accountname{
	margin:0px;
	

}

.accountnameheading li{
	font-size:12px;
}

.socialicon{
	padding:35px;
	line-height:40px;
}


/**************************************view_profile end****************************************/




.packbtn {
    padding: 7px 2px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
	color: #fff;
    background-color: #f5f5f5;
    border: 1px outset #dddddd;
}


.packbtn:focus,
.packbtn.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.packbtn:hover {
  color: #fff;
      background-color: #5195E0;
    border-color: #0078FF;
}
.packbtnactive{
  color: #fff;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.packbtn:active,
.packbtn.active,
.open > .dropdown-toggle.packbtn {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.packright{   /* margin-left: -10px;
    margin-right: -8px;*/ text-align:left; color:#000000;}  
.packright p{ line-height:18px;}
.required {
    color: red;
}
.bs-callout {
    margin: 20px 0;
    padding: 20px;
    background-color: #fcf8f2;
    border-color: #f0ad4e;
    border-radius: 0px;
}

/*listing css*/
.listingarea{ padding-top:20px; padding-bottom:30px;  }
.listingarea h2{ text-transform:uppercase; text-align:center; margin-bottom:45px;}

.border{
	border-bottom:1px solid #CCC;
	
}


/* Registration*/
.registration-form {
    float: none;
    padding: 0;
    display: inline-block;
}
.registration-form .gray-color {
    position: absolute;
    top: 10px;
    left: 6px;
    /* background: none; */
    color: #DADADA;
}

.registration-form-control {
    display: block;
    width: 100%;
    height: 42px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    margin-bottom: 10px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.submit{
	margin-top:30px;
}

/*Testimonial*/
#testimonails{ background-color:#ebebeb;padding-top:20px; padding-bottom:30px;}
#testimonails h2{  text-align:center; color:#252629; padding-bottom:20px;}
.testimonails{ font-size:18px;text-align:center; color:#5d5e61; line-height:25px; text-align:justify;}
.testimonails p{font-size:16px;text-align:center;color:#000;line-height:25px; text-align:right; font-weight:bold;}

/*Newsletter*/

#newsletter{ background-color:#eeb300; padding-top:40px; padding-bottom:40px;}
#newsletter h2{  text-align:center; color:#252629; padding-bottom:20px;}
.newsletterform{ line-height:78px;}
.newsletterinput{ width:300px;}




@media (max-width: 770px){
	#newsletter{padding:0px 0px 0px 0px;
	}
.newsletterform{line-height:0px; padding-bottom:30px;}

}
	
/*Faq*/
.concern {
    background: #fff;
    padding-top: 0px;
    padding-bottom: 10px;
}

.concern ul {
    width: 100%;
    margin-top: 50px;
}

.concern ul li {
    width: 95%;
    margin-left: 5%;
    list-style: outside decimal;
    font: 12px notosans-bold, sans-serif;
    color: #675E5B;
    line-height: 22px;
}

.authorheader {
    padding-top: 10px;
}
.panel {
    border-radius: 0px;
}

/*footer*/
#footer {}
#footer_bottom { color:#333333;
       
    font-size: 12px; text-align:center;
}
#footer_bottom .copybit {
    margin-right: 10px;color:#333333;
}

.boldtxt {
font-weight:bold;
}

.socialicons{ font-size:14px;} 
.twitter{ font-size:30px;margin-right: 15px;}
.facebook{ font-size:30px;margin-right: 15px;}
.linkedin{ font-size:30px;margin-right: 15px;}
.youtube { font-size:30px;}

a.morelink{font-size:11px; text-transform:uppercase; text-decoration:underline; color:#0000FF;}
a.morelink:hover{font-size:11px; text-transform:uppercase; text-decoration:underline; color:#990000;}
.col-sm-12.col-xs-12.csd .checkbox {
    text-align: left;
}


@media (max-width:420px){
	.newsletterinput{
		width:100%;
	}

.logo{ color:#0078ff;   }
.logo a{/*width:210px;font-size:60px;*/  text-decoration:none; color:#0078ff; font-weight: 800;/*padding-left:15px;*/ }
}



/* 4K large Screens */
@media (min-width : 1921px) and (max-width : 3840px) {
	

}


/* 24" large Screens */
@media only screen and (max-width : 1920px) {	}


/* 22" large Screens */
@media only screen and (max-width : 1680px) {	}


/* 20" large Screens */
@media only screen and (max-width : 1600px) {	}


/* 19" large Screens */
@media only screen and (max-width : 1440px) {	}


/* 13" Notebook Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) {	}


/* Ubuntu, Medium Screens */
@media only screen and (max-width : 1198px) {	}


/* 12" Notebook & iPad landscape  Ãƒâ€šÃ‚Â· width: 1024px */
@media only screen and (max-width : 1024px) {	

.logotext div{
	margin-top: 8px;
}
.postadarea{
	width: auto;
	padding-top: 20px;
}



}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {	}


/*Landscape*/
@media only screen and (max-width : 960px) {	}


/* Kindel Fire HD 8.9in (800x1280) Tablets */
@media only screen and (max-width : 800px) {	}


/* iPad (All) (768x1024) Portrait Tablets */
@media only screen and (max-width : 768px) {	}

/* Lower then iPad (All) (767x---) */
@media only screen and (max-width : 767px) {	}

/*iPhone 6 Plus landscape Ãƒâ€šÃ‚Â· width: 736px */
@media only screen and (max-width : 736px) {	}

/*iPhone 6 landscape Ãƒâ€šÃ‚Â· width: 667px */
@media only screen and (max-width : 667px) {	}


/*iPhone4 and iPhone5 Galaxy S2 and S3  */
@media only screen and (max-width : 640px) {	}


/* Google Nexus 7 603x966 | Samsung Galaxy Tab 600x1024  */
@media only screen and (max-width : 603px) {	}


/* iPhone 5 Landscape Ãƒâ€šÃ‚Â· 320x568px */
@media only screen and (max-width : 568px) {	}


/* Kindel Fire HD 8.9in (533x853) Tablets */
@media only screen and (max-width : 533px) {	}


/*iPhone3 Landscape*/
@media only screen and (max-width : 480px) {	

.logotext{
	text-align: center;
}
.logotext div:nth-child(3) {
    display: none !important;
}
.logotext div{
	width: 100% !important;
}
.img-responsive {
    width: 60%;
    margin: 0 auto !important;
}
.logo.img-responsive a {
    width: 100%;
}
.logo.img-responsive {
    width: 100% !important;
}





}


/* iPhone 6 PLUS (414x736) */
@media only screen and (max-width : 414px) {	}


/* iPhone 6 portrait (375x667) */
@media only screen and (max-width : 375px ) {	}


/* Galaxy S5 (360x640) */
@media only screen and (max-width : 360px) {	}


/* iPhone 3/4 Blackberry8300 / LG/ AUSUS / S3 S4 */
@media only screen and (max-width : 320px) {	}


/*Galaxy Y*/
@media only screen and (max-width : 240px) {	}


/*saad new css */

.logo.img-responsive img {
    height: 75px;
    width: auto !important;
    margin-left: 30px;
    margin-top: 22px;
}

.col-md-6.col-xs-12.postadarea.right-area.column-xs-6 {
    margin-top: 40px;
}

.col-md-6.col-xs-12.postadarea.right-area.column-xs-6 button.btn.btn-primary.btn-lg {
    background-color: #ffa800;
    border-color: #ef9d00;
    color: #000;
    background: rgb(254,221,21);
    background: linear-gradient(0deg, rgba(254,221,21,1) 0%, rgba(254,221,21,1) 26%, rgba(251,176,64,1) 62%);
    border: none;
    font-weight: 600;
    padding: 5px 57px;
    border-radius: 6px;
    font-size: 20px;
}

.col-md-6.col-xs-12.postadarea.right-area.column-xs-6 ul.nav.nav-pills.navbar-right li a {
    color: #F5F5FB;
    text-decoration: none;
    font-size: 22px;
}

.col-md-12.topsignup-area.fright.right-btn .col-md-8 {
    padding-top: 10px;
    }

.col-md-12.topsignup-area  ul.nav.nav-pills.navbar-right li:last-child a:before {
    content: "";
    background-color: #fff;
    width: 2px;
    height: 22px;
    position: absolute;
    left: 0;
    top: 4px;
}



.col-md-6.col-xs-12.postadarea.right-area.column-xs-6 {
    padding-right: 40px;
}

 

.col-md-12.form-cat.form-btm button.btn.btn-primary {
    width: 24.7%;
    float: right;
    background-color: #ffa800;
    border-color: #ef9d00;
    color: #000;
    background: rgb(254,221,21);
    background: linear-gradient(0deg, rgba(254,221,21,1) 0%, rgba(254,221,21,1) 26%, rgba(251,176,64,1) 62%);
    border: none;
    font-weight: 600;
    height: 34px;
    border-radius: 0;
}

.col-md-12.form-cat.form-btm form.navbar-form.navbar-right {
    float: left !important;width: 100%;padding: 0;}
 









 .col-md-6.col-xs-12.postadarea.right-area.column-xs-6 {
    padding-right: 40px;
}

.col-md-12.form-cat.form-btm select.form-control {
    width: 100%;
    color: #fff;
    background-color: transparent !important;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0;
}

.col-md-12.form-cat.form-btm input.form-control {
    width: 100% !important;
    border-radius: 0;
    background-color: transparent;
    color: #fff;
}

.col-md-12.form-cat.form-btm button.btn.btn-primary {
    width: 24.7%;
    float: right;
    background-color: #00a2e5;
    border-color: #00a2e5;
    color: #fff;
    background: rgb(254,221,21);
    background: #00a2e5;
    border: none;
    font-weight: 600;
    height: 34px;
    font-size: 17px;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.col-md-12.form-cat.form-btm form.navbar-form.navbar-right {
    float: left !important;width: 100%;padding: 0;}
 

.col-md-12.topsignup-area.fright.right-btn .col-md-4 {
    padding-right: 9px;
} 



div#navbar ul.nav.navbar-nav li a {
    font-size: 21px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    opacity: .8;
    margin-right: 35px;
}

div#navbar ul.nav.navbar-nav li a:before {content: "";background-color: #fff;height: 20px;width: 2px;position: absolute;left: -12px;opacity: .8;}

div#navbar ul.nav.navbar-nav li:first-child a:before {
    display: none;
}


.navbar-static-top.navarea .container {
    width: 95% !important;
    margin-left: 15px;
    margin-right: 15px;
}



div#footer_bottom ul#menu-footer li.menu-item a {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif !important;
}

div#footer_bottom ul#menu-footer li.menu-item {
    padding-right: 1px;
}

div#footer_bottom .copybit {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif !important;
}


div#footer_bottom .copybit img {
    height: 25px;
    margin-top: -14px;
}


#footer #footer_bottom ul#menu-footer, #footer #footer_bottom ul#nav.navbar-nav {
    display: inline-block;
}

#footer #footer_bottom ul#menu-footer {
    float: left;
    width: 50%;
    }

#footer #footer_bottom .nav.navbar-nav {
    float: right;
    width: 50%;
    }



#footer #footer_bottom .nav.navbar-nav li a {
    padding: 0px 20px;
    text-align: right;
    color: #fff;
    background-color: #000;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif !important;
}

#footer #footer_bottom ul#menu-footer li a {
    padding: 0 10px;
    color: #fff;
}

#footer #footer_bottom  .container-fluid {
    background-color: #000;
    padding: 40px 0 30px 0px;
    margin-top: 41px;
}


#footer #footer_bottom  .copybit {
    padding: 30px 0 35px 0;
    font-size: 19px;
    font-family: 'Arimo', sans-serif;
    color: #616161;
    opacity: .8;
    font-weight: 500;
    margin-top: 30px;
}


#footer #footer_bottom .copybit p {
    text-transform: capitalize;
    font-size: 17px;
    margin-top: 30px !important;
}



.col-md-4.col-sm-4.limited-wid {
    width: 29%;
    margin: 21px;
    height: 297px !IMPORTANT;
    padding: 10px 10px;
}

.col-md-4.col-sm-4.limited-wid img {
    height: 210px;
    width: 100%;
    margin: 0 auto;
}

.col-md-4.col-sm-4.limited-wid h4 {font-weight: 600 !important;color: #393939 !important;opacity: .8;font-size: 15px;}



 
aside.col-md-3.col-sm-3 {
    border: 2px solid #ccc;
}

.list-group.list-group-leftcatarea a {
    border: none;
    font-size: 15px;
    color: #393939 !important;
    opacity: .8;
}

aside.col-md-2.col-sm-2 h3 {
    text-transform: uppercase;
    text-align: left;
    border-bottom: 4px solid #ccccccc2;
    margin-bottom: 10px !important;
    padding-bottom: 10px;
    color: #000;
    font-weight: 900;
    padding-left: 10px;
}




.col-md-12.form-cat.form-btm form.navbar-form.navbar-right .form-group:nth-child(1) {
	width: 25%;
	margin-right: -2px;
	}

.col-md-12.form-cat.form-btm form.navbar-form.navbar-right .form-group:nth-child(2) {
    width: 50%;
}


.taxonomytitle {
    display: none;
}
 


button.accordion {
    position: relative;
    width: 100%;
    text-align: left;
    padding: 10px 10px;
    margin-bottom: 0px;
    background-color: #fff;
    border: none;
    color: #000;
    font-size: 18px;
}

button.accordion:before {
    right: 5px;content: "\f078";
    font-family: 'FontAwesome';
    position: absolute;
    font-weight: 200 !important;
    color: #ccc;
    }
	
	
	form.navbar-form.navbar-right select.form-control option {
    background-color: #fff !important;
    color: #000 !important;
}

.list-group .packwrap:nth-child(2), .list-group .packwrap:nth-child(3) {
    display: none !important;
}



#testimonails img {
    height: 100%;
    width: 100%;
    padding-top: 20px;
}
@media only screen and (max-width : 480px) {

	.logotext{
		text-align: center;
	}
	.logotext div:nth-child(3) {
		display: none !important;
	}
	.logotext div{
		width: 100% !important;
	}

	.logo.img-responsive a {
		width: 100%;
	}
	.logo.img-responsive {
		width: 100% !important;
		padding-top: 8px;
		padding-left: 10px;
	}
	.navarea{top: 0px;}
	.fright{display: none;}
	.text{display: none;}
	.logo.img-responsive img.img-responsive {
		height: 50px !important;
		width: 70%;
	}
	.list-group-main{margin: 0 0px 40px 0px !important;}
	.navbar-nav{    margin: 0px; }
	.col-md-12.form-cat.form-btm form.navbar-form.navbar-right{display: none;}
	.logo.img-responsive img {
		margin-left: 10px;
		margin-top: 12px;
	}
	.col-md-4.col-sm-4.limited-wid{
		width: auto;
		margin: 10px;
	}
}
.col-md-6.col-xs-12.postadarea.right-area.column-xs-6 ul.nav.nav-pills.navbar-right li a:hover{color: #0a0a0a;}