.sliderarea{ width:100%; display:block;overflow: hidden;
    position: relative;
    height: 335px;}
/* Numeric Navigation */
.controls {margin:1em 0;padding:0;height:50px; width:auto;	}
.controls li{margin:0 10px 0 0; padding:2px;float:left;list-style:none;height:auto;line-height:28px;}
.controls li a{float:left;height:auto;line-height:28px;border:1px solid #ccc;background:#fff;color:#555;padding:2px;text-decoration:none;}
.controls li.current a{background:#fff;color:#fff;}
.controls li a:focus, .prevBtn a:focus, .nextBtn a:focus{outline:none;}

.graphic, .prevBtn, .nextBtn{margin:0;padding:0;display:block;overflow:hidden;text-indent:-8000px;}

.prevBtn, .nextBtn {display:block;width:30px;height:77px;position:absolute;left:4px;top:71px;z-index:1000;background:url(../images/leftarrow.png) no-repeat 0 0;cursor:pointer;}	
.nextBtn{left:450px;}														
.nextBtn {background:url(../images/rightarrow.png) no-repeat 0 0;}	

pre {white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; }
@media (min-width: 320px) {
.nextBtn {left: 215px;}
.prevBtn {left: 15px;}
}

@media (min-width: 360px) {
.nextBtn {
    left: 255px;
}
}
@media (min-width: 480px) {
.nextBtn {
    left: 375px;
}}
@media (min-width: 640px) {
.nextBtn {
    left: 535px;
}
}
@media (min-width: 768px) {
.nextBtn {
    left: 635px;
}
.prevBtn {left: 26px;}
}
@media (min-width: 992px) {
.nextBtn{left:772px;}
.prevBtn {
    left: 9px;	
}
}

@media (min-width: 1024px) {
.nextBtn{left:645px;}
.prevBtn {
    left: 9px;	
}
}

@media (min-width: 1280px) {
.nextBtn{left:775px;}
.prevBtn {
    left: 9px;	
}
}

@media screen\0{
.nextBtn{left:775px;}

}